<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증</title>
</head>
<body>
<div style="max-width: 600px; margin: 0 auto; font-family: Arial, sans-serif; color: #333; border: 1px solid #eaeaea; border-radius: 10px;">
    <!-- 헤더 -->
    <div style="background-color: #f0f0f0; padding: 20px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <h1 style="text-align: center; color: #333; margin: 0; font-size: 24px;">develetter</h1>
    </div>

    <!-- 본문 -->
    <div style="padding: 20px;">
        <h2 style="text-align: center; color: #333; font-size: 22px;">인증 메일</h2>
        <p style="text-align: center; font-size: 16px; line-height: 1.6;">develetter 서비스를 이용해주셔서 감사합니다.<br>아래 인증 코드를 입력하여 회원가입을 완료해주세요.</p>
        <div style="text-align: center; margin: 30px 0;">
            <span style="display: inline-block; padding: 15px 30px; font-size: 24px; color: #fff; background-color: #392f31; border-radius: 5px;">
                <!-- 인증번호를 표시하는 부분 -->
                <span th:text="${certificationNumber}"></span>
            </span>
        </div>
        <p style="text-align: center; font-size: 14px; color: #777;">인증 과정에서 문제가 발생하면 데브코스 7팀으로 문의해 주세요.</p>
    </div>

    <!-- 푸터 -->
    <div style="background-color: #f0f0f0; padding: 15px; text-align: center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        <p style="font-size: 12px; color: #777; margin: 0;">© 2024 develetter. All rights reserved.</p>
        <p style="font-size: 12px; color: #777; margin: 5px 0;">문의(Github): https://github.com/prgrms-be-devcourse/NBE1_2_Team07</p>
    </div>
</div>
</body>
</html>
