<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>develetter 뉴스레터</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0;">
<table width="100%" cellpadding="0" cellspacing="0" style="background-color: #f4f4f4;">
    <tr>
        <td align="center">
            <table width="950" cellpadding="0" cellspacing="0" style="background-color: #ffffff; margin: 0 auto;">
                <tr>
                    <td style="padding: 20px;">
                        <h1 style="color: #2c3e50; text-align: center; font-size: x-large; margin-bottom: 20px;" th:text="|${date} develetter 뉴스레터|"></h1>

                        <div style="background-color: #f8f9fa; padding: 20px; margin-bottom: 20px; border-radius: 5px;">
                            <h2 style="color: #004EA2; margin-top: 0; font-size: large">맞춤 채용 공고</h2>
                            <p style="color: #6c757d; margin-bottom: 15px;"> 설정하신 관심 분야를 반영하여 제공하는 채용 공고입니다.</p>
                            <div th:utext="${jobPostingHtml}"></div>
                        </div>

                        <div style="background-color: #f8f9fa; padding: 20px; margin-bottom: 20px; border-radius: 5px;">
                            <h2 style="color: #4a9c5e; margin-top: 0; font-size: large">새로운 기술 블로그 포스트</h2>
                            <p style="color: #6c757d; margin-bottom: 15px;"> 설정하신 관심 분야를 반영하여 제공하는 기술 블로그입니다.</p>
                            <div style='margin-bottom: 15px; padding: 10px; border: 1px solid #ddd; border-radius: 5px;'>
                            <h3 style="margin-top: 0;" th:text="${blog.title()}"></h3>
                            <a th:href="${blog.link()}" style="color: #4a9c5e; text-decoration: none;">&rarr; 자세히 보기</a>
                            </div>
                        </div>

                        <div style="background-color: #f8f9fa; padding: 20px; border-radius: 5px;">
                            <h2 style="color: #553830; margin-top: 0; font-size: large">다가오는 컨퍼런스 일정</h2>
                            <p style="color: #6c757d; margin-bottom: 15px;"> 캘린더는 컨퍼런스 신청 기간 기준으로 제공됩니다.</p>
                            <div th:utext="${conferenceHtml}"></div>
                        </div>

                        <p style="text-align: center; margin-top: 20px; color: #7f8c8d;">
                            본 뉴스레터는 <a href="https://develetter.com" style="color: #3498db; text-decoration: none;">develetter</a>에서 제공합니다.<br>
                            구독 취소를 원하시면 <a href="{{구독취소_링크}}" style="color: #3498db; text-decoration: none;">여기</a>를 클릭하세요.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>